<div class="container">
  <% @posts.each do |post| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div id="marco">
      <div class="news">
        <h6>Por: <span class="green2"> <%= post.paper %></span> </h6>
        <% if post.date.present? %>
        <h6><%= post.try(:date).strftime(" %b-%d-%Y") %> </h6>
        <% end %>
      </div>
      <div class="img-card">

        <% if user_signed_in? %>
        <% if current_user.disliked? post %>
        <div class="votable">
          <%= link_to like_post_path(post), method: :put do %>
          <span class="fa fa-inbox" aria-hidden="true"></span>
          <%#= post.get_upvotes.size %>
          <% end %>
        </div>
        <% else %>
        <div class="derecho">
          <%= link_to dislike_post_path(post), method: :put do %>
          <span class="fa fa-inbox" aria-hidden="true"></span>
          <%#= post.get_downvotes.size %>
          <% end %>
        </div>
        <% end %>
        <% else %>
        <div class="votable">
          <%= link_to new_user_session_path do %>
          <span class="fa fa-heart-o" aria-hidden="true"></span>
        </div>
        <% end %>
        <% end %>

        <%= image_tag post.photo.to_s %>
      </div>
      <div class="marco_content">
        <h6 class="category"><%= post.category %></h6>
        <%= link_to post do %>
        <h4 class="card-title"><%= post.title %></h4>
        <% end %>
        <div class="back"><%= post.description.truncate(90) %></div>
      </div>
          <div class="impre">
            <h5><span class="fa fa-eye"></span> <%= post.impressionist_count(:filter=>:ip_address) %></h5>
          </div>
        <div class="taging">
        <h6 class="category"><%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join('    ') %></h6>
      </div>
    </div>
  </div>
  <% end %>
</div>





  
              <div class="centrar">
              <% unless current_page?(favorites_posts_path) %>
              <%= paginate @posts %>
              <% end %>
              </div>

              


            <br><br>
  
            <% if current_user.admin? %>
            <%= link_to 'New Post', new_post_path %>
            <% end %>



